
html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 100%;
}

a {
  text-decoration: none;
}

.form-search-container{
    margin: 0 20px;
    border-radius: 5px;
    border: 1px solid #DCDFE6;
    padding: 20px 20px 0 20px;
    text-align: left;
    position: relative;
}

.form-search-container span.form-search-title{
    position: absolute;
    left: 20px;
    top: -10px;
    display: block;
    width: 56px;
    height: 16px;
    background: #ffffff;
    text-align: center;
}

.form-table-container{
    padding: 20px;
}

.form-table-container .form-table-header-cell{
    background: #f5f7fa;
}

.el-pagination .btn-prev{
    float: left;
}
.el-pagination .el-pager{
    float: left;
}
.el-pagination .btn-next{
    float: left;
}

.el-pagination .el-pagination__jump{
    float: left;
}

.el-pagination .el-pagination__total{
    float: right;
}

.el-pagination .el-pagination__sizes{
    float: right;
}

.el-radio{
    margin-right: 10px;
}

.el-dialog{
    text-align: left;
}
