
html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 100%;
}

a {
  text-decoration: none;
}

.form-search-container{
    margin: 0 20px;
    border-radius: 5px;
    border: 1px solid #DCDFE6;
    padding: 20px 20px 0 20px;
    text-align: left;
    position: relative;
}

#main-index-body .el-main{
    padding: 0;
}

#main-index-body .el-header{
    padding: 0;
}

.form-search-container span.form-search-title{
    position: absolute;
    left: 20px;
    top: -10px;
    display: block;
    width: 56px;
    height: 16px;
    background: #ffffff;
    text-align: center;
}

.form-search-top-div{
    height: 20px;
}

.form-table-container{
    padding: 20px;
}

.form-table-container .form-table-header-cell{
    background: #f5f7fa;
}

.org-tree-container{
    border-radius: 5px;
    border: 1px solid #DCDFE6;
    margin-left: 20px;
    padding: 12px 5px 0 0;
    overflow: auto;
}

.org-tree-top-div{
    height: 20px;
    position: relative;
}

.org-tree-top-div .org-tree-title{
    position: absolute;
    left: 40px;
    top: 12px;
    display: block;
    width: 56px;
    height: 16px;
    background: #ffffff;
    text-align: center;
    z-index: 2;
}

.el-pagination .btn-prev{
    float: left;
}
.el-pagination .el-pager{
    float: left;
}
.el-pagination .btn-next{
    float: left;
}

.el-pagination .el-pagination__jump{
    float: left;
}

.el-pagination .el-pagination__total{
    float: right;
}

.el-pagination .el-pagination__sizes{
    float: right;
}

.el-radio{
    margin-right: 10px;
}

.el-dialog{
    text-align: left;
}

.el-dialog__header{
    background: #409EFF;
}

.el-dialog__title{
    color: #ffffff;
}

.el-dialog__header .el-dialog__close{
    color: #ffffff;
}

.el-dialog__header .el-dialog__close:hover,.el-dialog__header .el-dialog__headerbtn .el-dialog__close{
    color: #ffffff;
}

.el-dialog__body{
    padding: 30px 30px 0px 10px;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100%;
}

.el-select{
    width: 100%;
}

.el-loading-mask.is-fullscreen .el-loading-spinner{
    font-size: 24px;
}

/**导航样式*/
.el-submenu .el-menu-item{
    font-size: 12px;
    color: #666666;
}
.el-submenu  .is-active{
    color: #409EFF;
}
.el-submenu__title{
    font-weight: bold;
}
